.page.theme_light {
  --header-background-img: url("../images/cover-image-light.png");
  --accent-color: #353430;
  --page-color: #FFF1F7;
  --text-color: var(--accent-color);
  --title-color: #FFC2E6;
  --text-shadow-color: #FF8DCB;
  --section-title-color: var(--accent-color);
  --subtitle-color: var(--accent-color);
  --subtitle-bg-color: #FF8DCB;
  --hover-color: #32312D66;
  --header-rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-background-img: url("../images/cover-image-light.png");
    --accent-color: #353430;
    --page-color: #FFF1F7;
    --text-color: var(--accent-color);
    --title-color: #FFC2E6;
    --text-shadow-color: #FF8DCB;
    --section-title-color: var(--accent-color);
    --subtitle-color: var(--accent-color);
    --subtitle-bg-color: #FF8DCB;
    --hover-color: #32312D66;
    --header-rec-visibility: hidden;
  }

}
