.page {
  font-family: 'IBM Plex mono', monospace;
  background-color: var(--page-color);
  background-image: var(--header-background-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  padding: 0 20px;
}

.bordered {
  position: relative;
}

.bordered::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.bordered::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 25px;
    width: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-shadow-color);
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  visibility: var(--header-rec-visibility);
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  color: var(--accent-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.header__rec::after {
  content: "";
  display: inline;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
}
.header__theme-menu {
  padding-top: 20px;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: inline-flex;
  gap: 10px;
  align-self: center;
}

.header__theme-menu-button {
  padding: 2px 13px 4px;
  text-transform: lowercase;
  background-color: transparent;
  line-height: 18px;
  font-size: 18px;
  color: var(--accent-color);
  border: 1px solid transparent;
  transition: 0.3s;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active:hover {
  border: 1px solid var(--accent-color);
}

.header__title {
  transform: translate(-20px);
}

.title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}
 
.header__subtitle {
  width: 50%;
  justify-self: end;
  align-self: center;
  margin-bottom: 58px;
}

.subtitle {
  background-color: var(--subtitle-bg-color);
  color: var(--subtitle-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.subtitle_light {
  font-weight: normal;
}

.main {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section__title {
  font-size: 18px;
  color: var(--section-title-color);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
 }

.section-factors > .section__title {
  width: 32%;
  margin-bottom: 22px;
}

.section-factors__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-recommendations__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-gallery__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.image-sunset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.image-ice-cream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-tape {
  grid-row-start: 2;
  grid-row-end: 4;
}

.image-street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.section-gallery__images-item > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  display: block;
}

@media (max-width: 1023px) {

  .header__theme-menu {
    padding-top: 45px;
    justify-self: end;
    align-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__subtitle {
    margin-bottom: 50px;
  }

  .section {
    grid-gap: 20px;
  }

  .section-factors__list {
    grid-template-columns: 1fr;
  }
  
}

@media (max-width: 767px) {
  .main {
    margin: 40px 0;
    gap: 50px;
  }
  .container {
    padding: 0 10px;
  }
  
  .bordered::before {
    top: 10px;
    right: 10px;
  }

  .bordered::after {
    bottom: 10px;
    left: 10px;
  }

  .header__rec {
    top: 10px;
    right: 10px;
  }

  .header__theme-menu {
    padding-top: 10px;
  }

  .title {
    transform: none;
    line-height: 95.7px;
    font-size: 116px;
  }

  .header__subtitle {
    margin-top: 40px;
    width: 100%;
  }

  .section-factors > .section__title {
    width: 100%;
  }

  .section {
    grid-template-columns: 1fr;
  }

  .section-gallery {
    gap: 10px;
  }

  .section-gallery__images {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .image-sunset {
    grid-column-end: 2;
  }
  
  .image-ice-cream {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
  
  .image-tape {
    grid-row-start: 3;
  }
  
  .image-street {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}